[submodule "Task1and2"]
	path = Task1and2
	url = https://github.com/Parushii/Task1and2.git
[submodule "Task3"]
	path = Task3
	url = https://github.com/Parushii/Task3.git
[submodule "Task4"]
	path = Task4
	url = https://github.com/Parushii/Task4.git
[submodule "design"]
	path = design
	url = https://github.com/Parushii/design.git
[submodule "deployed-sites"]
	path = deployed-sites
	url = https://github.com/Parushii/deployed-sites.git
